@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-image: url('https://altavistaclub.com/blog/wp-content/uploads/2019/02/Improve-Your-Cruise-Experience.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    h1 {
        color: #0c0e72;
        font-family: 'Raleway',sans-serif;
        font-size: 62px;
        font-weight: 800;
        line-height: 72px;
        margin: 0 0 24px;
        text-align: left;
        text-transform: uppercase;
    }
</style>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Bienvenidos a Red Cruises</title>
</head>
<body>
    <br />
    <br />
    <h1> Bienvenido </h1>
</body>
</html>